@model CalendArt.Core.Domain.Evenement

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Événement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            Date et heure
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateHeure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Retour", "Index")
</p>
