@model IEnumerable<CalendArt.Core.Domain.Reminder>

@{
    ViewBag.Title = "Mes rappels";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer une nouvelle alerte", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeBeforeEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReminderTypeId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeBeforeEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReminderTypeId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReminderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReminderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReminderId })
        </td>
    </tr>
}

</table>
